.circulorojo{
    width: 25px !important;
    height: 25px;
    background-color: red;
    border-radius: 50%;
    border: 1px solid black;
    box-sizing: border-box;
}

.circuloamarillo{
    width: 25px;
    height: 25px;
    background-color: yellow;
    border-radius: 50%;
    border: 1px solid black;
}

.circuloverde{
    width: 25px;
    height: 25px;
    background-color: green;
    border-radius: 50%;
    border: 1px solid black;
}

// .simbologia{
//     font-size: small;
// }